/*THIS FILE CONTAINS ALL MEDIA QUERIES FOR THE SITE*/

/*WRAPPER QUERIES*/

@media only screen and (max-width: 1200px) {
  .rowWrapper {
    width: 100%;
    margin: none;
  }
  .contentWrapper {
    width: 100%;
  }
}

/*NAVBAR QUERIES*/

@media only screen and (max-width: 480px) {
  .link {
    display: none;
  }
  nav {
    width: 100%;
  }
  nav ul {
    padding: 1em;
  }
}
@media only screen and (min-width: 481px) {
  .button-menu {
    display: none;
  }
}

/*CARD QUERIES*/

@media only screen and (max-width: 1200px) {
  .cardMain,
  .cardBasic {
    width: 100%;
    margin: none;
  }
  .cardRow {
    width: 100%;
    margin-left: 0%;
  }
}

/*TEXT QUERIES*/

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
    text-align: left;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.2em;
  }
  p {
    width: auto;
    padding: 0.5em;
  }
}

/*SPECIAL QUERIES*/

@media only screen and (max-width: 480px;) {
  .animateDemo header h4 {
    font-size: 1em;
  }
}
